.navbar {
  padding: 0.5rem 1rem; /* Adds padding for the header */
}

.navbar-brand {
  font-size: 1.8rem; /* Adjusts the font size of the brand */
}

.nav-link {
  font-size: 1.1rem; /* Makes the nav links slightly larger */
  margin-left: 20px; /* Adds spacing between nav links */
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8); /* Lighter color for nav links */
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ffffff; /* Hover effect for nav links */
}
